q1 : print
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [11]:
n = 4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end=' ')
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [12]:
n = 4
for i in range(n):
    print("ineuron "*(i+1))

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

q2 print
        ineuron
    ineuron ineuron
ineuron ineuron ineuron
    ineuron ineuron
        ineuron

In [13]:
for i in range(1,6):
    if i <=3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(25,' '))

         ineuron
     ineuron ineuron
 ineuron ineuron ineuron
     ineuron ineuron
         ineuron

In [14]:
n = 3
for i in range(n - 1):
    for j in range(i,n):
        print("  ", end=' ')
    for j in range(i+1):
        print("ineuron", end=' ')
    print('\n')
for i in range(n):
    for j in range(0,i+1):
        print("  ", end=' ')
    for j in range(i,n):
        print("ineuron", end=' ')
    print('\n')

         ineuron

      ineuron ineuron

   ineuron ineuron ineuron

      ineuron ineuron

         ineuron

In [15]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), 
          set([23,4,5,45,4,4,5,45,45,4,5]), 
          {'k1':"sudh",'k2':"ineuron",'k3':"kumar", 3:6, 7:8}, ["ineuron","data science"]]

q3 : try to extract all the list entity

In [16]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

q4: try to extract all the dictionary entities

In [17]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5: try to extract all the tuples entities

In [18]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6: try to extract all the numerical data it may be a  part of dictionary key/value

In [19]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [23]:
# smart code
l = [[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 3, 6, 7, 8]

In [109]:
# My code
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j, end=' ')
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3
6
7
8

q7: try to give summation of all the numeric data

In [24]:
# smart code
l = [[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int:
                    l1.append(g)
print(sum(l1))

156

In [110]:
# my code
num = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                num.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                num.append(k)
                num.append(v)
print("All list of the numbers in list: \n", num)
print("summation of all the numbers: ",sum(num))

All list of the numbers in list:
 [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
summation of all the numbers:  156

q8: try to filter out all the odd values out of all numeric data given which is part of list

In [26]:
for i in l1:
    if i % 2 == 0:
        pass
    else:
        print(i,end=' ')

1 3 3 5 3 5 7 5 45 23 3 7

In [111]:
odd = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                if j %2 == 1:
                    odd.append(j)
print("Odd values from list: ", odd)

Odd values from list:  [1, 3]

q9: try to extract "ineuron" out of data

In [28]:
# smart code
l = [[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

l1 = []

for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == 'ineuron':
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if g == 'ineuron':
                    l1.append(g)
print(l1)

['ineuron', 'ineuron']

In [112]:
# my code
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == 'ineuron':
                print(i, ":" ,j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 'ineuron':
                print(i, ":" , k)
            elif v == 'ineuron':
                print(i, ":" ,v)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : ineuron
['ineuron', 'data science'] : ineuron

q10: try to find out number of occurences of all the data

In [32]:
# smart code

l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == str:
                l1.append(j)
    if type(i) == dict:
        for k in i.items():
            for g in k:
                if type(g) == int or type(g) == str:
                    l1.append(g)
print(l1)

for i in set(l1) :
    print(i, ":", l1.count(i))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
sudh : 1
ineuron : 2
k3 : 1
kumar : 1
45 : 1
8 : 1
23 : 1
data science : 1
k2 : 1

In [113]:
# my code
unique = set()

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            unique.add(j)
    if type(i) == dict:
        for k,v in i.items():
            unique.add(k)
            unique.add(v)

In [114]:
unique

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [115]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

q11: try to find out number of keys in dict elements

In [33]:
for i in l :
    if type(i) == dict:
        print(len(list(i.keys())))

5

In [34]:
for i in l :
    if type(i) == dict:
        print(len(i))

5

In [118]:
# my code
keys = []
for i in l:
    if type(i) == dict:
        for j in i:
            keys.append(j)
print(keys)
print(len(keys))

['k1', 'k2', 'k3', 3, 7]
5

q12: try to filter out all the string in data

In [36]:
# smart code
for i in l1:
    if type(i) == str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [120]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [134]:
string = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == str :
                string.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or type(v) == str:
                string.append(k)
                string.append(v)
print(string)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

q13: try to find out alpha numeric in data

In [40]:
# smart code
for i in l1 :
    if type(i) == str :
        if i.isalnum() :
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [123]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [160]:
alnum = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == str:
                if int in j:
                    alnum.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                print(k,v)
                if k.isalpha() and k.isnumeric() :
                    alnum.append(k)
            if type(v) == str:
                if v.isalpha() and v.isnumeric() :    
                        alnum.append(v)
print(alnum)

k1 sudh
k2 ineuron
k3 kumar

TypeError: 'in <string>' requires string as left operand, not type

In [159]:
'k1'.isnumeric()

False

In [ ]:
# find multiplication of all numbers in list

In [46]:
# smart code
j = 1
for i in l1:
    
    if type(i) == int :
        j=j*i
print(j)

908605071360000

In [43]:
# smart code
l2 = []
for i in l1:
    if type(i) == int :
        l2.append(i)
print(l2)
j = 1
for i in l2:
    j=j*i
print(j)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 3, 6, 7, 8]
908605071360000

q14: try to find out multiplication of all numerical values in the individual collections inside dataset

In [47]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [56]:
# smart code

for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == int :
                m = m*j  
        print(type(i), ":", m)
    if type(i) == dict:
        for k in i.items():
            for n in k :
                if type(n) == int :
                    m = m * n
        print(type(i), m)

<class 'list'> : 24
<class 'tuple'> : 720
<class 'tuple'> : 2520
<class 'set'> : 20700
<class 'dict'> 1008
<class 'list'> : 1

In [164]:
multiplication = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == int :
                multiplication.append(j)
                
    if type(i) == dict:
        for k , v in i.items() :
            if type(k) == int :
                multiplication.append(k)
            if type(v) == int  :    
                multiplication.append(v)
print('All numeric values in list: \n',multiplication)

All numeric values in list:
 [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
8

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

q15: try to unqrape all the collection inside collection and create a flatten list

In [146]:
flatlist = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
             flatlist.append(j)
    if type(i) == dict:
        for k,v in i.items():
            flatlist.append(k) 
            flatlist.append(v)
print(flatlist)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']