In [73]:
# print in reverse direction
s = 'Shivanand'
for i in range(len(s)-1, -1 , -1):
    print(i, s[i])

8 d
7 n
6 a
5 n
4 a
3 v
2 i
1 h
0 S

In [74]:
# to get same in reverse order
s = 'Shivanand'
for i in range(len(s)):
    print(len(s)-i-1, s[len(s)-i-1])

8 d
7 n
6 a
5 n
4 a
3 v
2 i
1 h
0 S

In [75]:
# to get same in reverse order
s = 'Shivanand'
for i in range(len(s)):
    print(len(s)-i-1, s[len(s)-i-1])

8 d
7 n
6 a
5 n
4 a
3 v
2 i
1 h
0 S

In [76]:
d

{'key1': 'Shiv', 'contact': 'shivekatpure@gmail.com', 'position': 'xyz'}

In [77]:
d.items()

dict_items([('key1', 'Shiv'), ('contact', 'shivekatpure@gmail.com'), ('position', 'xyz')])

In [78]:
for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'Shiv') <class 'tuple'> <class 'str'>
('contact', 'shivekatpure@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [79]:
l =['Shiv', 'Ekatpure', 765848, 'snepvpit@gmail.com', 3485798354,345]

In [80]:
num = []
for i in l :
    if type(i) == int:
        num.append(i)
print(num)

[765848, 3485798354, 345]

In [81]:
d = {1:433548, 'name':'Shiv', 'email':"snepvpit@gmail.com", 23:"shifshjf",23:"shidsffshjf", "3485":"shjkdfhs"}

In [82]:
# seperate into different list, key must be numeric

knum = []
for i in d.keys():
    if type(i) == int:
        knum.append(i)
print(knum)

[1, 23]

In [83]:
# print key:value pair for keys with number only
for i in d:
    if type(i) == int:
        print(i, ":",d[i])

1 : 433548
23 : shidsffshjf

In [84]:
# print occurence of each character in string
s = 'aaaabbccd'
# 1. find unique elements
for i in set(s):
    print(i,":", s.count(i))
# 2. find count of each elements

a : 4
d : 1
c : 2
b : 2

In [85]:
i = 34578938953789
for j in str(i):
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
3 <class 'int'>
8 <class 'int'>
9 <class 'int'>
5 <class 'int'>
3 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>

In [86]:
t = ('Shiv', 'Ekatpure', [1,2,3,4,5], (3,4,5,6),{'key2':'Shiv', 'key2':'Ekatpure'})

In [87]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i :
            if j == 3:
                print(j)

3
3

In [88]:
t = ('Shiv', 'Ekatpure', [1,2,3,4,5], (3,4,5,6),{3:3, 'key2':'Ekatpure'})

In [89]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i :
            if j == 3:
                print(j)
    if type(i) == dict:
        print(i)        
        for k,v in i.items():
            if k == 3 or v==3:
                print(k)
                print(v)

3
3
{3: 3, 'key2': 'Ekatpure'}
3
3

In [90]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i :
            if j == 3:
                print(j)
    if type(i) == dict:
        for j in i:
            if j == 3:
                print(j)
        for j in i.values():
            if j == 3:
                print(j)
        print(i)

3
3
3
3
{3: 3, 'key2': 'Ekatpure'}

In [91]:
for i in t:
    for j in i:
        if j == 3:
            print(i,":",j)

[1, 2, 3, 4, 5] : 3
(3, 4, 5, 6) : 3
{3: 3, 'key2': 'Ekatpure'} : 3

In [92]:
# Home Work

In [93]:
# left triangle
n =5
for i in range(n):
    for j in range(0,i+1):
        print("*",end='  ')
    print("\n")

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

In [94]:
# decreasing triangle
n =5
for i in range(n):
    for j in range(i,n):
        print("*",end='  ')
    print("\n")

*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [95]:
# decreasing space, increasing *
n =5
for i in range(n):
    for j in range(n-i):
        print(" ",end=' ')
    for j in range(0,i+1):
        print('*', end=' ')
    print("\n")

          *

        * *

      * * *

    * * * *

  * * * * *

In [96]:
# incrasing space, decreasing * 
n = 5
for i in range(n):
    for j in range(0,i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [97]:
# 3 Hill pattern (decreasing space, increasing * on both sides)
n = 5
for i in range(n):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')    
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [98]:
# 4 reverse hill pattern(increasing space, decreasing * left , increasing space)
n = 5
for i in range(n):
    for j in range(0,i+1):
        print(' ', end= ' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print("\n")

  * * * * * * * * *

    * * * * * * *

      * * * * *

        * * *

          *

In [99]:
# diamond pattern
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(0,i+1):
        print('*',end=' ')
    for j in range(0,i):
        print('*',end=' ')
    print('\n')
for i in range(n):
    for j in range(0,i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print('\n')

          *

        * * *

      * * * * *

    * * * * * * *

  * * * * * * * * *

    * * * * * * *

      * * * * *

        * * *

          *

q1 : print
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [100]:
n = 4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end=' ')
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

q2 print
        ineuron
    ineuron ineuron
ineuron ineuron ineuron
    ineuron ineuron
        ineuron

In [101]:
# diamond pattern
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(0,i+1):
        print('*',end=' ')
    for j in range(0,i):
        print('*',end=' ')
    print('\n')
for i in range(n):
    for j in range(0,i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print('\n')

          *

        * * *

      * * * * *

    * * * * * * *

  * * * * * * * * *

    * * * * * * *

      * * * * *

        * * *

          *

In [102]:
n = 3
for i in range(n - 1):
    for j in range(i,n):
        print("  ", end=' ')
    for j in range(i+1):
        print("ineuron", end=' ')
    print('\n')
for i in range(n):
    for j in range(0,i+1):
        print("  ", end=' ')
    for j in range(i,n):
        print("ineuron", end=' ')
    print('\n')

         ineuron

      ineuron ineuron

   ineuron ineuron ineuron

      ineuron ineuron

         ineuron

In [103]:
n = 3
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end=' ')
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

In [104]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7), 
          set([23,4,5,45,4,4,5,45,45,4,5]), 
          {'k1':"sudh",'k2':"ineuron",'k3':"kumar", 3:6, 7:8}, ["ineuron","data science"]]

q3 : try to extract all the list entity

In [105]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

q4: try to extract all the dictionary entities

In [106]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5: try to extract all the tuples entities

In [107]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6: try to extract all the numerical data it may be a  part of dictionary key/value

In [108]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [109]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j, end=' ')
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                print(k)
                print(v)

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3
6
7
8

q7: try to give summation of all the numeric data

In [110]:
num = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                num.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v) == int:
                num.append(k)
                num.append(v)
print("All list of the numbers in list: \n", num)
print("summation of all the numbers: ",sum(num))

All list of the numbers in list:
 [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
summation of all the numbers:  156

q8: try to filter out all the odd values out of all numeric data given which is part of list

In [111]:
odd = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                if j %2 == 1:
                    odd.append(j)
print("Odd values from list: ", odd)

Odd values from list:  [1, 3]

q9: try to extract "ineuron" out of data

In [112]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == 'ineuron':
                print(i, ":" ,j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 'ineuron':
                print(i, ":" , k)
            elif v == 'ineuron':
                print(i, ":" ,v)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : ineuron
['ineuron', 'data science'] : ineuron

q10: try to find out number of occurences of all the data

In [113]:
unique = set()

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            unique.add(j)
    if type(i) == dict:
        for k,v in i.items():
            unique.add(k)
            unique.add(v)

In [114]:
unique

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [115]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

q11: try to find out number of keys in dict elements

In [118]:
keys = []
for i in l:
    if type(i) == dict:
        for j in i:
            keys.append(j)
print(keys)
print(len(keys))

['k1', 'k2', 'k3', 3, 7]
5

q12: try to filter out all the string data

In [120]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [134]:
string = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == str :
                string.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or type(v) == str:
                string.append(k)
                string.append(v)
print(string)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

q13: try to find out alpha numeric in data

In [123]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [160]:
alnum = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == str:
                if int in j:
                    alnum.append(j)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str:
                print(k,v)
                if k.isalpha() and k.isnumeric() :
                    alnum.append(k)
            if type(v) == str:
                if v.isalpha() and v.isnumeric() :    
                        alnum.append(v)
print(alnum)

k1 sudh
k2 ineuron
k3 kumar

TypeError: 'in <string>' requires string as left operand, not type

In [159]:
'k1'.isnumeric()

False

q14: try to find out multiplication of all numerical values in the individual collections inside dataset

In [164]:
multiplication = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == int :
                multiplication.append(j)
                
    if type(i) == dict:
        for k , v in i.items() :
            if type(k) == int :
                multiplication.append(k)
            if type(v) == int  :    
                multiplication.append(v)
print('All numeric values in list: \n',multiplication)

All numeric values in list:
 [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]
8

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

q15: try to unqrape all the collection inside collection and create a flatten list

In [146]:
flatlist = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
             flatlist.append(j)
    if type(i) == dict:
        for k,v in i.items():
            flatlist.append(k) 
            flatlist.append(v)
print(flatlist)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']